/* * { 
    border: 0.5px solid black; 
} */ 
 
 
.inputCard{ 
    flex-direction: column; 
    display: flex; 
    /* justify-content: center; */ 
    align-items: center; 
    margin-top: 15px; 
    
     
} 
 
.button{ 
    color: green; 
}

.container{
    background: url(https://www.nawpic.com/media/2020/demon-slayer-desktop-nawpic.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 753px !important;
}

.form-control{
        width: 100%;
        border: none;
        outline: none;
        font-size: 19px;
        padding: 10px;
        letter-spacing: 2px;
        border-radius: 5px;
        margin-top: 10px;
}

.form-group{
    width: 100%;
}