*{
  margin: 0;
  padding: 0;
}

.container {
  height: 755px;
}
.background-video {
    position: relative;
    color: #fff;
    /* box-sizing: border-box; */
    font-family: "Radiance", "Noto Sans", sans-serif;
    object-fit: cover;
    width: 100%;
    height: 755px;
  }

  .parallax {

      background: url(https://wallpapercave.com/wp/wp7085179.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      height: auto;
  
  }

  