.container {
    background: url(https://wallpapercave.com/wp/wp7085179.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 753px;
}