.login {
    width: 100%;
    min-height: 90vh;
    background: #e9e9e9;
    display: flex;
    color: white;
    font-size: 20px;

        background: url(https://images6.alphacoders.com/104/thumb-1920-1049843.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        height: 753px;
    
  }
  
  .login-container {
    padding: 60px;
    margin: auto;
    min-height: 400px;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #4a4a4a;
    border-radius: 45px;
  }
  
  .auth-btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    background: #640157;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  
  .auth-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  
  .btn-container {
    width: 100%;
    padding: 24px 0;
  }
  
  .error-msg {
    color: red;
    font-size: 16px;
  }
  
  .auth-text {
    margin: 14px 0 0 0;
    text-align: right;
    /* cursor: pointer; */
  }
  
  .auth-span {
    color: blue;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
    transition: all 400ms ease-in-out;
  }

  .google-btn{
      border: none;
      outline: none;
      width: 100%;
      padding: 15px 0;
      font-size: 16px;
      color: black;
      background: yellow;
      cursor: pointer;
      letter-spacing: 2px;
      border-radius: 5px;
      opacity: .8;
  }
  